/* section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
#pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 10;
}

.title{
    position: relative;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'BIZ UDMincho', serif;
font-family: 'Libre Caslon Text', serif;
color:#5A3F35;
}

.title::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    
}
h1{
    transform: translate(10%,-140%);
    font-size: 80px;
    position: absolute;
    white-space: nowrap;
    z-index: 9;
    right: -20px;
}

section{
    position: relative;
    padding: 100px;
    background: rgb(241, 228, 233);
    height: 80vh;

}
.titles{
    font-family: 'BIZ UDMincho', serif;
font-family: 'Libre Bodoni', serif;
font-family: 'Libre Caslon Text', serif;
font-size: 40px

}

.ps{
    font-family: 'Source Sans Pro', sans-serif;
    
    font-size: 20px;
}

.bigPar{
    font-size: 25px;



}
.causes{
    font-family: 'BIZ UDMincho', serif;
font-family: 'Libre Bodoni', serif;
font-family: 'Libre Caslon Text', serif;
transform: translate(-240%,0%);
color:#5A3F35;
}

.link{

    Font-Family: 'PT Sans', Sans-Serif;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    font-size: 25px;
    z-index: 9;
    color:#5A3F35;
}

.actionLink{
 position: relative;
 left: 0px;
 top: 60px;
}
.sourceLink{
position: relative;
left: 550px;
    top: 80px;
}
#earth{
position: absolute;
width: 427px;
height: 360px;
/* left: -10px;
top: 1173px; */
}

#fire{
    position:absolute;
    width: 273px;
    height: 271px;      
    transform: translate(-10%,-25%);
}
#fossilFuel{
    position: absolute;
width: 576.6px;
height: 533.69px;
transform: translate(-100%,-25%);
}

#manufacturing{
position: absolute;
width: 1185px;
height: 791px;
transform: translate(100%,-20%);
}

#deforestation{
    position: absolute;
    width: 1094px;
    height: 562px;
    transform: translate(-1800px, -100px);
}
#cars{
position: absolute;
width: 735px;
height: 625px;
transform: translate(1800px, -200px);
}
#foodImg{
    position: absolute;
 width: 875px;
height: 383px;
transform: translate(-2800px, 10px);
}

#building{

position: absolute;
width: 789px;
height: 494px;
transform: translate(460%,0%);

}

#actImg{
    transform: translate(100%, 10%);
    width: 357px;
height: 360px;
}
#unImg{
    transform:translate(-150%,40%);
}
.waveOne {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveOne svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 83px;
}

.waveOne .shape-fill {
    fill: #90B7B5;
}
.climateDef{
    background-color:#CDCEAE ;
}
.climateTitle{
    width: 480px;
    height: 52px;
    transform: translate(122%,70%);

}
.climatePar{
position: absolute;
width: 460px;
height: 52px;
transform: translate(130%,120%);
}
.waveTwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveTwo svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.waveTwo .shape-fill {
    fill: #CDCEAE;
}
.powerGen{
    background-color: #D9E7D8;
}

.powerGenTitle{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(10%,90%);
}

.powerGenPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(3%,200%)
}
.waveThree {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveThree svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 146px;
    transform: rotateY(180deg);
}

.waveThree .shape-fill {
    fill: #D9E7D8;
}
.goods{
    background-color: #F7F2CA;
}
.goodsTitle{
position: absolute;
width: 460px;
height: 52px;
transform: translate(140%,220%);
}
.goodsPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(138%,370%);
    }
.waveFour {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveFour svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
}

.waveFour .shape-fill {
    fill: #F7F2CA;
}
.forests{
    background-color: #3F3A1C;
}
.forestsTitle{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(-10%,200%);
    color: #FFEED6;
}
.forestsPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(-13%,320%);
    color: #FFEED6;
}
.waveFive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveFive svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 160px;
}

.waveFive .shape-fill {
    fill: #3F3A1C;
}
.transport{
    background-color: #E3C88C;
}
.transportTitle{
position: absolute;
width: 460px;
height: 52px;
transform: translate(180%,200%);
}

.transportPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(176%,360%)
}
.waveSix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveSix svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
}

.waveSix .shape-fill {
    fill: #E3C88C;
}

.food{
    background-color: #5A3F35;
}
.foodTitle{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(10%,200%);
    color: #FFEED6;

}

.foodPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(-1%,300%);
    color: #FFEED6;
}
.waveSeven {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveSeven svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 137px;
}

.waveSeven .shape-fill {
    fill: #5A3F35;
}
.buildingPower{
    background-color: #7DA9B5;
}
.buildingPowerTitle{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(165%,190%);
}
.buildingPowerPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(160%,350%);
}
.waveEight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveEight svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 138px;
    transform: rotateY(180deg);
}

.waveEight .shape-fill {
    fill: #7DA9B5;
}
.fix{
    background-color: #FFEED6;
}

.fixTitle{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(13%,150%); 
}

.fixPar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(5%,300%);
}
.waveNine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveNine svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.waveNine .shape-fill {
    fill: #FFEED6;
}

.sourceTitle{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(160%,120%);  
}
.sourcePar{
    position: absolute;
    width: 460px;
    height: 52px;
    transform: translate(130%,300%);
}